hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 30pt;
    border-color:darkgrey;
}
img{
    height: 150px;
}
h1{
    color: #66BFBF;
    margin: 0 auto;
    font-family: 'Sacramento', cursive;

}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;

    text-align: center;
}
.education{
    text-align: center;
    font-family: 'Montez', cursive;
}
a{
    font-family: 'Montez', cursive;
    color:cadetblue;
    font-weight: bolder;
}
.company:hover{
    background-color:powderblue;
}
.lexture:hover{
    background-color: powderblue;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
.hobbies{
    text-align: center;
    font-family: 'Montez', cursive;
}
.experience{
    text-align: center;
}
.year1{
    text-align: center;
    font-family: 'Montez', cursive;
    font-size: x-large;
    font-weight: bolder;
}
.work1{
    text-align: center;
    font-family: 'Montez', cursive;
    font-size: larger;
}
.year2{
    text-align: center;
    font-family: 'Montez', cursive;
    font-weight: bolder;
    font-size: medium;
}
.work2{
    text-align: center;
    font-family: 'Montez', cursive;
    font-size: larger;
}
.year3{
    text-align: center;
    font-family: 'Montez', cursive;
    font-weight: bolder;
    font-size: medium;
}
.myskills{
    text-align: center;
    font-family: 'Montez', cursive;
}
.form{
    text-align: center;
    font-family: 'Montez', cursive;
}

.upperbody{
    
    text-align: center;
    padding-top: 100px;
}


.lowerbody{
    text-align: center;
}
img{
    margin-top: 10px;
}
body{
    margin: 0;
    font-family: 'Merriweather', serif;
}
p{
    text-align: center;
    font-family: 'Montez', cursive;
    margin-left: 50px;
    margin-right: 50px;
    
}

.header{
    text-align: right;
    font-size: larger;
    margin-right: 50px;
    margin-top: 50px;
}

.upper-cloud{
    position: absolute;
    right: 100px;
    top: 150px;
}



.bottom-cloud{
    position: absolute;
    left: 0px;
    top: 50px;
}
